
<h1 class="m-2">Stupid Coaching</h1>

<div class="m-2">
    <div class="card-question">
      <div>
      <%= @question %>
      </div>
      <div class="fst-italic">
      <%= "-You" %>
      </div>
    </div>

    <div class="card-answer">
      <div>
      <%= @answer %>
      </div>
      <div class="fst-italic">
      <%= "-Your coach" %>
      </div>
    </div>

    <div class="m-2">
    <%= link_to "Ask a new question", ask_path %>
    </div>
</div>
